@charset "utf-8";

body {
	position: relative;
}
.textArea {
	position: absolute;
	z-index: 100;
	text-align: center;
	width: 260px;
	height: 260px;
	font-size: 25px;
}
.textArea p {
	margin-top: 100px;
}
#piechart {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
}
.circle {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
}
.BG {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}